<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Tugas Ajax</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container" id="app">
      <!-- Form Input -->
      <form @submit.prevent>
        <h1>Input Data</h1>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ref="name"
            v-model="member.name"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea
            class="form-control"
            rows="3"
            id="address"
            name="address"
            ref="address"
            v-model="member.address"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="no_hp" class="form-label">No HP</label>
          <input
            type="text"
            class="form-control"
            id="no_hp"
            name="no_hp"
            ref="no_hp"
            v-model="member.no_hp"
          />
        </div>
        <!-- TODO: PHOTO PROFILE -->
        <div class="mb-3" v-if="member.id != ''">
          <label for="photo_profile" class="form-label">Photo Profile</label>
          <input
            class="form-control"
            type="file"
            id="photo_profile"
            name="photo_profile"
            ref="photo_profile"
          />
        </div>
        <input type="hidden" v-model="member.id" />
        <button
          v-if="member.id === ''"
          type="submit"
          class="btn btn-success"
          @click="createMember(member)"
        >
          Create Member
        </button>
        <button
          v-if="member.id != ''"
          type="submit"
          class="btn btn-warning"
          @click="updateMember(member)"
        >
          Update Member
        </button>
        <button
          v-if="member.id != ''"
          type="submit"
          class="btn btn-secondary"
          @click="clearData()"
        >
          Cancel
        </button>
      </form>
      <hr />

      <!-- Card All Members -->
      <h1>Data Semua Member</h1>
      <div class="row">
        <div class="col-md-4 mb-3" v-for="dataMember of members">
          <div class="card">
            <img
              v-bind:src=" dataMember.photo_profile === null ? defaultImg : domainPhoto + dataMember.photo_profile "
              class="card-img-top"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title text-truncate">{{ dataMember.name }}</h5>
              <h6 class="card-title">Alamat:</h6>
              <p class="card-text text-truncate">{{ dataMember.address }}</p>
              <h6 class="card-title">No HP:</h6>
              <p class="card-text text-truncate">{{ dataMember.no_hp }}</p>
            </div>
            <div class="row card-footer p-3">
              <div class="col-md-4">
                <!-- <button class="btn btn-warning" @click="editMember(dataMember)">
                  Edit
                </button> -->
                <a
                  href="#app"
                  class="btn btn-warning"
                  @click="editMember(dataMember)"
                  >Edit</a
                >
              </div>
              <div class="col-md-4">
                <button
                  class="btn btn-danger"
                  @click="deleteMember(dataMember)"
                >
                  Hapus
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- CDN JS Tugas Ajax -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vue & Axios -->
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          members: [],
          member: {
            id: "",
            name: "",
            address: "",
            no_hp: "",
            photo_profile: "",
          },
          domainPhoto: "http://demo-api-vue.sanbercloud.com",
          defaultImg: "https://vuejs.org/images/logo.png",
        },
        computed: {},
        methods: {
          getMembers: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                this.members = response.data.members;
                // console.log(response.data.members);
              })
              .catch((err) => {
                console.log(err);
              });
          },
          validationData: function () {
            if (this.member.name === "") {
              alert("Masukan Nama Anda!");
              this.$refs.name.focus();
            } else if (this.member.address === "") {
              alert("Masukan Adrress!");
              this.$refs.address.focus();
            } else if (this.member.no_hp === "") {
              alert("Masukan No_HP!");
              this.$refs.no_hp.focus();
            } else {
              return true;
            }
          },
          createMember: function () {
            // console.log(this.member);
            let data = new FormData();
            data.append("name", this.member.name);
            data.append("address", this.member.address);
            data.append("no_hp", this.member.no_hp);

            const config = {
              method: "post",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
              data: data,
            };

            if (this.validationData()) {
              axios(config)
                .then((response) => {
                  // console.log(JSON.stringify(response.data));
                  this.getMembers();
                  this.clearData();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          clearData: function () {
            this.member.id = "";
            this.member.name = "";
            this.member.address = "";
            this.member.no_hp = "";
            this.member.photo_profile = null;
            this.getMembers();
          },
          editMember: function (lDataMember) {
            this.member = lDataMember;
          },
          updateMember: function (lDataMember) {
            let data = new FormData();
            data.append("name", lDataMember.name);
            data.append("address", lDataMember.address);
            data.append("no_hp", lDataMember.no_hp);

            let config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${lDataMember.id}`,
              params: { _method: "PUT" },
              data: data,
            };

            if (vm.$refs.photo_profile.files[0] != undefined) {
              vm.uploadImg(lDataMember);
            }
            if (vm.validationData()) {
              axios(config)
                .then(function (response) {
                  // console.log(JSON.stringify(response.data));
                  vm.getMembers();
                  vm.clearData();
                  alert(response.data.message);
                })
                .catch(function (error) {
                  console.log(error);
                });
            }
          },
          deleteMember: function (lDataMember) {
            var data = new FormData();

            var config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${lDataMember.id}?_method=DELETE`,
              data: data,
            };

            if (confirm(`Hapus data ${lDataMember.name}?`)) {
              axios(config)
                .then((response) => {
                  // console.log(JSON.stringify(response.data));
                  this.member.id = "";
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadImg: function (lDataMember) {
            let file = vm.$refs.photo_profile.files[0];
            let data = new FormData();
            data.append("photo_profile", file);

            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${lDataMember.id}/upload-photo-profile`,
              data: data,
            };

            axios(config)
              .then((response) => {
                // console.log(JSON.stringify(response.data));
                this.getMembers();
                this.clearData();
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getMembers();
        },
      });
    </script>
  </body>
</html>
